/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 200px) { }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }

@media screen and (max-width:500px) {
  .kat {
      display: none;
  }
  .hund {
    display: none;
}
}



body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    width: 100%;
    text-align: center;
    display: inline-block;
    background-color: #7fc199;
}
.hund {
  margin-right: 10px;
}
.kat {
}
.box {
  padding-top: 30px;
  padding-bottom: 20px;
}
.banner {
  width: 805px;
  height: 260px;
  
}
.ind {
  
}

.ad {
  width: 100%;
  height: 100%;
}
.poser {
  margin-bottom: 20px;
}
.poseh {
  margin-right: 20px;
}
.posek {
  margin-left: 20px;
}
.overtext {
  padding: 10px;
  margin-bottom: 10px;
}
.undertext {
  text-align: center;
  padding-top: 20px;
  font-size: small;
}
h3 {
  text-align: center;
  font-weight: 100;
}
.form-group {
    width: 100%;
}

#wrapper {
    width: 400px;
    margin: 0 auto 30px auto;
    background: #f9fafb;
    padding: 10px 15px;
    border-radius: 10px;
  }
input {
    margin: 5px 10px;
}
button {
    font-size: 15px;
    padding: 10px;
    margin: 20px 0;
    color: black;
    border: 0;
    border-radius: 10px;
    border-bottom: 3px solid #03772c;
  }
  #submit {
    background: #008d36;
  }
  #msgDiv {
    font-size: 18px;
  }
  .container {
      width: 800px;
  }

  .wrapper{
    width: 100%;
    height: 70vh;
    overflow: hidden;
  }
  
  .wrapper .wrapper__video{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .space {
    height: 20px;
    background-color: #7fc199;
  }
  .second {
    margin-bottom: 30px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #373736;
    text-align: center;
  }